body {
  background-color: #a05608;
  color: white;
  font-family: 'Bree Serif', serif;
  font-size: 25px; }

input {
  color: gray;
  margin-top: 15px; }

td {
  padding: 15px; }

.weather_icon img {
  height: 70px;
  width: 70px; }

.form-control:focus {
  border-color: #EC971F;
  box-shadow: none; }

.day_name {
  font-size: 30px; }

.day_high {
  font-size: 20px; }

.day_low {
  font-size: 20px; }
