body {
    background-color: #6cbfee;
    color: white;
    font-family: 'Copse', serif;
    font-size: 25px;
}

td {
    padding: 10px;
}

.day {}

.day_name {}

.weather_description {}

.weather_icon {}

.day_high {}

.day_low {}

#putWeatherHere {}
